/*=============================================================================================	
	style css decorated by : Web Architect (webarq.com)
==============================================================================================*/
@import url("../fonts/open_sans/OpenSans-Regular.css");
body ::selection { background: #2CB3FF; }
body ::-moz-selection {
 background: #2CB3FF;
}
body {
	color: #333;
	font-size: 12px;
	font-family: "open sans";
}
img{ border:0; max-width:100%; height:auto; }
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
a{ text-decoration:none; }
p {
	margin: 1px 0 15px;
	line-height: 20px;
}
input, textarea, select {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	border: none;
	border: 1px solid #D8D8D8;
	padding: 5px;
	margin: 0;
	color: #666;
}
input[type=checkbox], input[type=radio] {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
h1 { font-size: 32px; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }
/* structure
----------------------------------------------------------------------------------------------*/
.wrapper {
	width: 960px;
	margin: 0 auto;
}
/* style button
----------------------------------------------------------------------------------------------*/
#btn_login{}

/* header
----------------------------------------------------------------------------------------------*/
header { position: relative; }
/* middle
----------------------------------------------------------------------------------------------*/
#middle { position: relative; }
section { position: relative; }
/* footer
----------------------------------------------------------------------------------------------*/
footer { position: relative; }


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 480px) {
	 /* Mobile styles */
}
 @media screen and (min-width:481px) and (max-width:1024px) {
   /* Tablet styles */
}
 @media only screen and (min-width: 1140px) {
	  /* Desktop styles */
}
